@charset "UTF-8";
html * {
  position: relative;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: gray;
  font-size: 1.3rem;
  line-height: 1.4;
}
@media screen and (max-width: 768px) and (min-width: 400px) {
  body {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 0.85rem;
  }
}
body > header, body > article, body > footer {
  box-sizing: border-box;
  min-height: 300px;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  position: relative;
}
body h2 {
  font-size: 3em;
  overflow-wrap: break-word;
}

header {
  font-size: 1rem;
}
@media screen and (max-width: 768px) and (min-width: 400px) {
  header {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 400px) {
  header {
    font-size: 0.44rem;
  }
}
header #header-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}
header #header-bg #blobs {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
header #header-bg #blobs svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vmax;
  z-index: -1;
  animation: move 120s ease-in-out infinite;
  transform-origin: 50% 50%;
}
header #header-bg #blobs svg:nth-of-type(1) {
  animation-delay: 10s;
  animation-direction: alternate-reverse;
}
header #header-content {
  text-align: right;
  position: relative;
}
@media screen and (max-width: 768px) {
  header #header-content {
    padding-left: 0;
  }
}
header #header-bg {
  z-index: -1;
  background-color: #FFBF81;
}
header h1 {
  color: black;
  text-shadow: 0.1em 0.1em 0 #FFF;
  font-size: 6em;
  overflow-wrap: break-word;
  line-height: 1.2;
}
header #claim {
  font-size: 2em;
  line-height: 1.5;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }
  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -30px);
  }
}
footer a {
  font-style: normal;
}

footer#contact address {
  padding-top: 1.5em;
}
footer#contact a {
  font-style: normal;
  display: inline-block;
  padding: 1.2em 1.2em 1.1em;
  background: #FF2C5F;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5em;
  border-bottom: 3px solid #3B0E13;
}
footer#contact a::before {
  content: "📧  ";
}
footer#contact a:hover {
  background: #EB115D;
}

#concept {
  background-color: #FF69EB;
}

#testimonials {
  background-color: #FFA3A5;
}

#contact {
  background-color: #FFDC5E;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .content {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media screen and (max-width: 768px) and (min-width: 400px) {
  .content {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media screen and (max-width: 400px) {
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.block-right {
  text-align: left;
  padding-left: 20%;
}

.block-left {
  text-align: left;
  padding-right: 20%;
}
