/* Fonts
========================================
*/

@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/WorkSans-Regular.woff2') format('woff2'),
	     url('../fonts/WorkSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/WorkSans-Italic.woff2') format('woff2'),
	     url('../fonts/WorkSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/WorkSans-Bold.woff2') format('woff2'),
	     url('../fonts/WorkSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/WorkSans-BoldItalic.woff2') format('woff2'),
	     url('../fonts/WorkSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}


/* Reset
========================================
*/

/* Charset */
@charset 'UTF-8';

/* Box sizing */
*,
*:before,
*:after {
	box-sizing: border-box;
	
}
*:before,
*:after {
	speak: none;
}

/* Text size & rendering */
html {
	font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 62.5%;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

/* Media */
img,
svg,
canvas,
audio,
video {
	display: block;
	max-width: 100%;
}


/* Typography
========================================
*/

/* Body */
body {
	background-color: #fff;
	color: #2f2d27;
	font-size: calc(2rem + .25vw);
	line-height: 1.5;
}

/* Link */
a {
	background-color: transparent;
	color: #7a4135;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
th {
	color: #7a4135;
	line-height: 1.2;
}
h4,
h5,
h6 {
	text-transform: uppercase;
}

/* Lists */
ul,
ol {
	padding-left: 1.5em;
}

/* Definition list */
dt {
	font-variant: small-caps;
}
dd {
	margin-left: 1.5em;
}

/* Quotations */
blockquote {
	margin: 0;
}
blockquote p {
	margin: 0;
}
blockquote p:before {
	content: open-quote;
}
blockquote p:after {
	content: close-quote;
}
q {
	quotes:	'“' '”';
}
cite {
	font-variant: small-caps;
}

/* Insert */
ins {
	text-decoration: underline;
}

/* Explanations */
abbr[title],
dfn[title] {
	border-bottom: thin dotted;
	cursor: help;
}
@supports (text-decoration: dotted underline) {
	abbr[title],
	dfn[title] {
		text-decoration: dotted underline;
		border-bottom: none;
	}
}

/* Mark */
mark {
	background-color: rgba(255, 213, 0, .5);
	color: #333;
	box-decoration-break: clone;
	box-shadow: .25rem 0 0 rgba(255, 213, 0, .5), -.25rem 0 0 rgba(255, 213, 0, .5);
	border-radius: 1rem;
}

/* Figure */
figure {
	margin-right: 0;
	margin-left: 0;
}

/* Captions */
caption,
figcaption {
	font-style: italic;
	text-align: left;
}
caption {
	caption-side: bottom;
}


/* Layout
========================================
*/

/* Body */
body {
	margin: 0;
}
@media (min-width: 76.8rem) {
	body {
		padding-bottom: 6rem;
	}
}


/* Header
========================================
*/

/* Site header */
.header {
	background-color: #ff8468;
	position: relative;
	padding-top: 4rem;
	padding-bottom: 4rem;
}
@media (min-width: 76.8rem) {
	.header {
		min-height: calc(100vh - 6rem);
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
}
.header .content__inner {
	position: relative;
	z-index: 1;
}

/* Title */
.header__title {
	font-size: 300%;
	font-weight: bold;
	letter-spacing: -0.1rem;
	line-height: 1;
	margin: 0;
}
@media (max-width: 76.8rem) {
	.header__title {
		font-size: 250%;
	}
}
@media (min-width: 76.8rem) {
	.header__title br {
		display: none;
	}
}
.header__title--text {
	color: #7a4135;
}
.header__title--heading {
	color: #2f2d27;
}

/* Claim */
.header__claim {
	font-size: 250%;
	line-height: 1.2;
	letter-spacing: -0.1rem;
}
@media (max-width: 76.8rem) {
	.header__claim {
		font-size: 150%;
	}
}

/* Background */
.header__background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

/* Artwork */
.header__art {
	position: absolute;
}
.header__art:first-child {
	width: 40vw;
	right: 5%;
	top: -5%;
	animation: move 100s ease-in-out infinite;
}
.header__art:last-child {
	width: 45vw;
	top: 20%;
	right: 20%;
	animation: move 100s ease-in-out infinite;
	animation-direction: alternate-reverse;
}

/* Animation */
@keyframes move {
	0% { transform: scale(1) translate(1rem, -3rem); }
	38% { transform: scale(0.8, 1) translate(20vw, 10vh) rotate(160deg); }
	40% { transform: scale(0.8, 1) translate(20vw, 10vh) rotate(160deg); }
	78% { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
	80% { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
	100% { transform: scale(1) translate(1rem, -3rem); }
}


/* Navigation
========================================
*/

.navigation {
	background-color: #7a4135;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (min-width: 76.8rem) {
	.navigation {
		width: 100%;
		height: 6rem;
		position: fixed;
		z-index: 1;
	}
}
.navigation__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 1rem 0;
	margin: 0;
}
.navigation__item:not(:last-child) {
	margin-right: 4rem;
}
.navigation__link {
	color: #ffe3a4;
}


/* Content
========================================
*/

main .content {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

main .content:nth-child(odd) {
	background-color: #f9b377;
}

main .content:nth-child(even) {
	background-color: #ffe3a4;
}

.content {
	padding-right: 2rem;
	padding-left: 2rem;
}
.content__inner {
	max-width: 76.8rem;
	margin: 0 auto;
}
.content__inner--wide {
	max-width: 102.4rem;
}
.content__inner > *:first-child {
	margin-top: 0;
}
.content__inner > *:last-child {
	margin-bottom: 0;
}


/* CTA button
========================================
*/

.cta-button {
	background-color: #ffe3a4;
	color: #7a4135;
	font-size: 3rem;
	display: inline-block;
	text-decoration: none;
	padding: 0.5rem 1.5rem;
	border-radius: 1rem;
	transition: transform 0.25s;
}

.cta-button:hover,
.cta-button:focus {
	transform: scale(1.1);
}


/* Large text
========================================
*/

.large-text {
	color: #7a4135;
	font-size: 150%;
	font-style: italic;
}
@media (min-width: 76.8rem) {
	.large-text {
		text-align: center;
	}
}


/* Feature box
========================================
*/

.feature-box {
	background-color: #ffe3a4;
	display: block;
	max-width: 60rem;
	padding: 2rem;
	margin: 4rem auto;
	border-radius: 1rem;
}
.feature-box > *:first-child {
	margin-top: 0;
}
.feature-box > *:last-child {
	margin-bottom: 0;
}


/* Feature list
========================================
*/

.feature-list {
	list-style-type: none;
	padding-left: 0;
}
.feature-list__item {
	display: flex;
}
.feature-list__item:before {
	content: '✓';
	padding-right: 1rem;
}


/* Quote
========================================
*/

.quote {
	background-color: #f9b377;
	background: linear-gradient(0deg, #ffe3a4 0%, #f9b377 100%);
	padding: 2rem;	
	border-radius: 1rem;
}
.quote__source {
	font-size: 1.8rem;
	text-align: right;
	margin-top: 1rem;
}


/* Footer
========================================
*/

/* Site footer */
.footer {
	background-color: #ff8468;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
